
.card {
  background-color: rgb(253, 255, 141);
  height: 100px;
  width: 100px;
  padding: 20px;
  text-align: center;
  border-radius: 20%;
  margin-top: 20px;

}

.panel {

  background-color: rgb(253, 255, 141);
  width: 75vh;
  height: 75vh;
  font-size: 200%;
  border: 25px;
  border-radius: 25px;



}

li {

  margin: 40px;
  padding: px;

}





section {
  /*background-color: rgb(187, 220, 221);*/
  background: linear-gradient(rgb(185, 253, 255), rgb(255, 139, 230), rgb(138, 222, 255));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  flex-wrap: wrap;
  padding: 20px;
  border: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

h1 {
  text-align: center;
  background-color: beige;
  margin: auto;
  padding: 20px;
  border: 10px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}


p {
  text-align: center;
  }



h2 {
  font-size: large;
  text-align: center;
  margin-top: 30px;
}

a{
  display: block;
  text-align: center;
  padding: 20px;
  color: rgb(0, 0, 0);
  border-radius: 4px;
  font-size: 15px;
  background-color: rgb(255, 248, 150);
  width: fit-content;
  margin: auto;
}

body{
margin: 8px;
}